<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DtxSQLBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <DtxSQLBrowser.Properties.Settings>
            <setting name="lastServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="lastUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryHistory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>select * from admin.v_patient</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="lastEncKey" serializeAs="String">
                <value />
            </setting>
            <setting name="lastDecKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DtxVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyFilePath" serializeAs="String">
                <value />
            </setting>
        </DtxSQLBrowser.Properties.Settings>
    </userSettings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>
